

   .post-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .like-button, .comment-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  .heart-icon {
    color: gray;
  }
  
  .heart-icon.liked {
    color: red;
  }
  
  .comment-icon {
    color: gray;
  }
  
  .comments {
    margin-top: 1rem;
  }
  